#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.movieContainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.movieInfo {
  position: relative;
}

.addToWishlist {
  position: absolute;
  left: 0;
  bottom: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

img {
  width: 200px;
  border-radius: 10px;
}

.Movie {
  background: rgb(58, 58, 58);
  width: 200px;
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 25px;
  padding: 25px;
  color: rgb(220, 220, 220);
  border: 1px solid rgb(42, 42, 42);
  border-radius: 10px;
}
