body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav li {
  display: inline-block;
  margin-right: 25px;
}

nav li a {
  text-decoration: none;
}
